<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" comments="width=device-width, initial-scale=1.0"/>
        {% block title %} 
            <title>Ecoleta</title>
        {% endblock title %}
        <link href="/css/structure.css" rel="stylesheet" />
    </head>
    <body>
        <div id="{{ pageId }}">
            {% block container %}
            {% endblock container %}
        </div>

        {% block modal %}
        {% endblock modal %}

        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>